body {

  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  display: block;


}

.main {
  margin-bottom: 6vh;
  /* Ocupa toda la altura de la ventana */
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  
}

main::before {
  content: "";
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 140%;
  background-image: url('../../img/inicio/fondo2.png');
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  /* Ajusta la opacidad aquí */
  z-index: -1;
  /* Envía la imagen detrás del contenido */
}


.info {
  margin-top: 10vh;
  font-size: 23px;
  display: flex;
  flex-direction: column;
  gap: 70px;
  width: 100%;
  max-width: 600px;
  color: beige;
  background-color: rgba(7, 122, 95, 0.5);
  padding: 89px;

}


.containerlogin {
  margin: auto;
  background: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 40px;
  width: 300px;
  text-align: center;
  box-shadow: 0px 0px 15px rgb(0, 0, 0, 0.2);
  color: rgb(255, 255, 255);
}

.btnlogin {

  background-color: white;
  color: teal;
  border-radius: 10em;
  font-size: 12px;
  font-weight: 600;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid teal;
  box-shadow: 0 0 0 0 black;

}

.btnlogin :hover {

  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;

}

.btnlogin:active {
  transform: translateY(9px) translateX(4px);
  box-shadow: 0 0 0 0 teal;
}


.containerlogin input {

  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.registro {

  margin-top: 55px;
  font-size: 14px;
  margin: auto;
  color: #ffffff;

}

.registro a {

  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: teal;
  padding: 5px;

}

.btnAcciones {
  background-color: teal;
  font-weight: bold;
}

.btnAcciones:hover {
  background-color: #A8E0E0;
}

.btnAcciones:disabled {
  background-color: teal;
}